/* Tailwind normalize/preflight styles */
@tailwind base;

html {
	font-size: 14px;
	width: 100%;
}
body,
html {
	/* important for navigation and swiping: */
	height: 100%;
}
body {
	@apply bg-white;
	@apply overflow-y-scroll overflow-x-hidden;

	font-feature-settings: "ordn" on, "cpsp" on;
}
body::-webkit-scrollbar-track {
	@apply md:bg-white;
}

@media screen and (min-width: 1024px) {
	::-webkit-scrollbar {
		@apply w-3;
	}
	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-gray-800 rounded border-[2px] border-transparent bg-clip-content;
	}
	::-webkit-scrollbar-thumb:hover {
		@apply bg-black;
	}
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*::selection {
	@apply bg-primary/80 text-white;
}

:root {
	@apply text-gray-900;
}
a {
	@apply text-primary cursor-pointer;
}
button:focus {
	@apply outline-none;
}

path {
	stroke-width: 1.9px;
}
svg {
	@apply h-auto;
	width: var(--icon-width, theme(spacing.6));
}
svg.thin path {
	stroke-width: 1px;
}

b,
strong {
	@apply font-semibold;
}

h1 {
	@apply heading-1;
}
h2 {
	@apply heading-2;
}
h3 {
	@apply heading-3;
}
h4 {
	@apply heading-4;
}
h5 {
	@apply heading-5;
}
h6 {
	@apply heading-6 break-words;
}
a {
	text-decoration: none;
	color: inherit;
}

/* Tailwind applied utilities */
@tailwind components;
@tailwind utilities;
