---
import HighlightsSlider from "@islands/HighlightsSlider"

import { BACKEND_ENDPOINT } from "@/utils/variables"
import { Highlight } from "@/types/api"

// TODO: move fetching to the index.astro page
// fetching should start as high as possible (could be awaited here)

// TODO: move fetch logic to a separate api module

const endpoint = BACKEND_ENDPOINT + "/highlights"

async function fetchHighlights(): Promise<Highlight[]> {
	const response = await fetch(endpoint)
	const json = await response.json()
	return json
}

const highlights = await fetchHighlights()
---

<HighlightsSlider highlights={highlights} client:visible />

<!-- <div
			class="slider-group-container"
		>
			<div
				class="slider-container"
			>
				<figure class="swiper-wrapper">
					<nuxt-link
						v-for="product in highlights"
						:key="product.id"
						:to="localePath(`/gallery/${product.id}`)"
						:lazy-background="product.thumbnail.formats.large.url"
						class="swiper-slide"
					></nuxt-link>
				</figure>
				<div class="navigation mobile">
					<Icon icon="chevron-left" />
					<span class="numbers small">
						<div>{{ activeIndex }}</div>
						<div>/</div>
						<div>{{ highlights.length }}</div>
					</span>
					<Icon icon="chevron-right" />
				</div>
			</div>
			<div class="details">
				<div class="navigation desktop">
					<IconButton
						icon="arrow-left"
						class="outline"
						@click="changeSlide(-1)"
					/>
					<span class="numbers font-semibold">
						<div>{{ activeIndex }}</div>
						<div>/</div>
						<div>{{ highlights.length }}</div>
						<IconButton
					</span>
						icon="arrow-right"
						class="outline"
						@click="changeSlide(1)"
					/>
				</div>
				<transition name="fade" mode="out-in">
					<div :key="activeIndex" class="text">
						<nuxt-link
							:to="localePath(`/gallery/${activeProduct.id}`)"
							class="title"
						>
							{{ activeProduct.title | Bluu }}
						</nuxt-link>
						<p class="desc">
							{{ description }}
						</p>
					</div>
				</transition>
				<Button
					:to="localePath(`/gallery/${activeProduct.id}`)"
					trailing-icon="eye"
					class="see-product-btn"
					>{{ $t('common.see-product') }}</Button
				>
			</div>
		</div> -->
