---
import { Component } from "solid-js"

import Gradient from "@islands/ui/gradient/Gradient"
import IconRing from "@islands/ui/icon/IconRing"

import LogoIcon from "~icons/assets/logo"
import MonoLogoIcon from "~icons/assets/logo-mono"

export interface Props {
	title: string
	subtitle?: string
	dark?: boolean
	icon?: Component
}
const { dark = false, title, subtitle, icon } = Astro.props as Props

const Logo = dark ? MonoLogoIcon : LogoIcon
---

<div class={`banner ${dark ? "dark" : "light"}`}>
	<div class="flex items-center space-x-3">
		<Logo class="w-14" />
		<div>
			<h6 class="font-bold leading-small">{title}</h6>
			{subtitle && <p class="small text-gray-700">{subtitle}</p>}
		</div>
	</div>
	{!dark && <Gradient class="gradient" />}
	{icon && <IconRing class="page-icon" icon={icon} />}
	<!-- <LangSwitch /> -->
</div>

<style>
	.banner {
		@apply absolute z-10 top-0 inset-x-0;
		@apply mx-6 h-24;
		@apply flex justify-between items-center;
		@apply border-b border-gray-900;
		@apply md:hidden;
	}

	.gradient {
		@apply absolute -z-1 pointer-events-none -inset-6 top-0 h-52 opacity-80;

		--gradient-shape: 110% 120%;
		--gradient-position: 50% -20%;
		--gradient-start: 10%;
		--gradient-stop: 100%;
		--gradient-color-from: theme(colors.gray.500);
	}

	.page-icon {
		@apply absolute top-full left-2 mt-4;
	}

	.dark {
		@apply text-white border-white;
	}
</style>
