.button {
	--i-size: var(--button-size, theme(spacing.12));

	@apply h-[var(--i-size)];
	@apply flex justify-center items-center space-x-2 px-6;
	@apply bg-gray-900 text-white btn-text rounded;

	&.type-outline {
		@apply bg-transparent border border-gray-900 text-gray-900;
		&.type-dark {
			@apply border-white text-white;
		}
	}

	&.type-dark {
		@apply bg-white text-gray-900;
	}

	&.no-background {
		@apply bg-transparent;
	}

	&.slim-padding {
		@apply px-4;
	}

	&.primary {
		--i-size: theme(spacing.16);
		@apply bg-primary btn-primary-text space-x-4 px-6 shadow-PRIMARY;
	}

	&.square {
		@apply w-[var(--i-size)];
	}

	&.circle {
		@apply rounded-full h-[var(--i-size)] w-[var(--i-size)] p-0;
		svg {
			@apply text-white;
			--icon-width: theme(spacing.7);
		}
	}
}
