---
import ContactButton from "@islands/Contact"
import Contact from "@components/Contact.astro"
import Navigation from "@components/navigation/Navigation.astro"
import "@/styles/base.css"

export interface Props {
	title: string
}

const { title } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<link rel="stylesheet" href="/styles/base.css" />

		<title>{title}</title>
	</head>

	<body>
		<Navigation />
		<nav class="fixed top-0 indent-x-0">
			<a href="/" class="link">Home</a>
			<a href="/about" class="link">About</a>
			<ContactButton client:load>
				<Contact />
			</ContactButton>
		</nav>
		<div class="pt-16">
			<slot></slot>
		</div>
	</body>
</html>
