/* .icon-component {
	--i-size: var(--icon-size, theme(spacing.6));
	@apply w-[var(--i-size)];
} */

.figure {
	@apply flex justify-center items-center;
	@apply border border-gray-900 text-gray-900 rounded;

	&.circle {
		@apply rounded-full;
	}

	/*
	&.slim .icon {
		path,
		rect,
		circle,
		rectangle {
			stroke-width: 1px;
		}
	} */
}

.icon-ring {
	@apply w-8 h-8;
	--icon-size: theme(spacing.6);
}
