---
import Layout from "../layouts/Layout.astro"

console.log('window:', typeof window)

const typeofwindow =  typeof window
---

<Layout title="About me">
  <main>
    <h1>
      About page. {typeofwindow}
    </h1>
  </main>
</Layout>