---
import Layout from "@/layouts/Layout.astro"

import Hero from "@components/landing/Hero.astro"
import MobilePageBanner from "@components/MobilePageBanner.astro"
import HighlightsSlider from "@components/HighlightsSlider.astro"

import Gradient from "@islands/ui/gradient/Gradient"
import Button from "@islands/ui/button/Button"
import IconRing from "@islands/ui/icon/IconRing"

import HomeIcon from "~icons/assets/home"
import LogoIcon from "~icons/assets/logo"
import ArrowDown from "~icons/assets/arrow-down"
import GridIcon from "~icons/assets/grid"
---

<Layout
	title="Projekt Renkidzieło: Artystyczne i oryginalne rękodzieła"
	description="Renkidzieło to artystyczne i własnoręcznie tworzone rękodzieła. Między innymi oryginalne lampy i barwne obrazy idealne do udekorowania wnętrza; ale również i użyteczne wytwory krawieckie. Takie jak nerki, saszetki na pas i torby."
>
	<MobilePageBanner title="Renkidzieło" subtitle="Projekt ekologiczny" icon={HomeIcon} />

	<div class="start-wrapper">
		<!-- <div v-rellax="{ speed: -5 }" class="gradient rellax"></div> -->
		<Gradient class="gradient" />
		<figure v-rellax="{ speed: -3 }" class="gear-graphic rellax">
			<img src="/img/THE GEAR.png" width="818" height="885" />
		</figure>
		<figure class="collage-graphic">
			<img src="/img/lamps collage.png" width="900" height="900" />
		</figure>
		<!-- <div v-rellax="{ speed: -1 }" class="project-info rellax">
			<div class="flex items-center">
				<Icon icon="logo-mono" class="w-14 mr-2" />
				<h6 class="font-bold">{{ $t('common.name') }}</h6>
			</div>
			<p class="small mt-2">
				{{ $t('index.start.project-info') }}
			</p>
		</div> -->
		<!-- CONTENT: -->
		<Hero title="Efektowne i artystyczne rękodzieła.">
			Przeglądnij galerię produktów, na pewno znajdziesz coś dla siebie!
		</Hero>
		<!-- <TopAboveFoldFooter /> -->
	</div>

	<style>
		.start-wrapper {
			@apply pt-64 sm:pt-40 md:pt-72 lg:pt-0;

			.gradient {
				@apply absolute -z-1 w-screen h-[250vw] top-0 left-0;
				--gradient-shape: 110% 65%;
				--gradient-position: 120% 40%;

				@media screen and (min-width: 1000px) {
					@apply h-[250vh];
					--gradient-shape: 95% 60%;
				}
			}
			.gear-graphic {
				@apply absolute -z-1 -right-16 top-[6.75vh];
				@apply w-[338.42px] h-[365.33px];
				@apply md:w-[494px] md:h-[533px] md:right-auto md:left-col-6 lg:left-col-8 md:ml-72 md:top-[10vh];
			}
			.collage-graphic {
				@apply hidden lg:block;
				@apply absolute -z-1 h-[90vmin] w-[90vmin] right-[83vw] top-[18vh];
				img {
					transform: matrix(-1, 0.05, 0.05, 1, 0, 0);
				}
				@include radial-mask(circle, left, 45%, 95%);
			}

			.project-info {
				@apply hidden lg:block;
				@apply mt-[17.75vh] ml-col-7 w-80 p-6 md:mb-[6vh];
				@apply bg-gray-50 text-gray-800 rounded-lg;
			}
		}
	</style>

	<section class="py-16 md:my-12 lg:my-24 border-b border-gray-800 md:border-b-0">
		<header
			class="
				p-6 md:px-1-cols md:py-10;
				sm:ml-12 sm:max-w-max;
				md:border border-gray-800 rounded;
				md:ml-col-4 lg:ml-col-3;
				lg:w-10-cols lg:max-w-full;
			"
		>
			<h2 class="pb-6 border-b border-gray-800">Wyróżnione <br /> produkty</h2>
			<p class="pt-4 text-gray-800">
				Kawałek mojej radosnej twórczości. <br /> Wszystkie pozostałe prace znajdziesz w galerii.
			</p>
		</header>
		<HighlightsSlider />
	</section>

	<section class="quality-section">
		<Gradient class="gradient" />
		<header>
			<div class="circle-header">
				<img
					class="absolute -z-1 inset-0 object-contain"
					src="/img/spiral-gradient.svg"
					loading="lazy"
				/>
				<LogoIcon class="w-24 mb-4" />
				<h2 class="lg:heading-1">Renkidzieło</h2>
				<h6 class="w-72 lg:w-auto text-center mt-4">To nie-zwykłe rękodzieło</h6>
			</div>
		</header>
		<main>
			<div class="content">
				<h4 class="mb-4 lg:mb-10">Jakość odręcznego wykonania.</h4>
				<p class="mb-4">
					Renkidzieło to artystyczne i własnoręcznie tworzone rękodzieła. Będą to między innymi
					oryginalne lampy i barwne obrazy idealne do udekorowania wnętrza; ale również i użyteczne
					wytwory krawieckie. Takie jak saszetki na pas i torby.
				</p>
				<p class="mb-8">
					Moje produkty cechują się niepowtarzalnym wyglądem i starannością wykonania.
					Przygotowywanie trwa tak długo, aż produkt nie osiągnie porządaniej jakości.
				</p>
				<IconRing icon={ArrowDown} />
			</div>
			<div class="supporting-image">
				<figure>
					<img src="/img/bags-group.jpg" alt="zdjęcie moich nerek" loading="lazy" />
					<!-- <CogElement /> -->
				</figure>
				<Button trailingIcon={GridIcon}>Galeria</Button>
			</div>
		</main>
	</section>

	<style>
		.quality-section {
			@apply relative my-24 md:my-16;

			.gradient {
				@apply absolute -z-1 inset-x-0 h-[250vw] top-[50vh];
				--gradient-shape: 165% 45%;
				--gradient-position: -60% 45%;
				--gradient-color-from: theme(colors.gray.500);

				@media screen and (min-width: 1000px) {
					@apply h-[350vh] top-[-60vh];
					--gradient-shape: 120% 40%;
					--gradient-position: -40% 60%;
				}
			}

			> header {
				@apply flex justify-center items-center;

				&:after,
				&:before {
					content: "";
					@apply hidden md:block flex-grow;
					@apply h-[1px] bg-gray-800;
				}
			}
			.circle-header {
				@apply relative flex flex-col justify-center items-center;
				@apply mx-6 md:mx-16 lg:mx-32;
				@apply w-full h-[calc(100vw-3rem)] sm:w-96 sm:h-96 lg:w-[30vw] lg:h-[30vw];
			}

			main {
				@apply relative sm:mx-24 lg:mx-col-5 lg:flex lg:my-16;
				@apply lg:space-x-1-cols xl:space-x-2-cols 2xl:space-x-3-cols;
				.content {
					@apply my-8 mx-6 sm:mx-0 lg:w-96 lg:my-0 xl:w-7-cols;
					@apply lg:h-[max-content] lg:pb-14 lg:border-b border-gray-800;

					.icon-circle {
						@apply lg:absolute right-0 top-0;
					}
					button {
						@apply hidden lg:flex;
					}
				}
			}

			.supporting-image {
				@apply lg:flex-grow lg:mt-28;
				img {
					@apply w-full aspect-square sm:aspect-[1/2] lg:aspect-[1/3];
					/* TODO: radial-mask */
					@include radial-mask(100% 100%, 80% 20%, 35%, 110%);
				}
				.cog-element {
					@apply top-full right-full mt-[-6.5rem] -mr-12 lg:-mr-9 xl:-mr-10;
					@apply text-primary rotate-[170deg] lg:rotate-12;
					@include radial-mask(circle, 30% -10%, 0%, 85%);
				}
				> button {
					@apply ml-auto mt-6 mr-6 lg:hidden;
				}
			}
		}
	</style>
</Layout>
