---
import Layout from "@/layouts/Layout.astro"
import Card from "@components/Card.astro"
import MobilePageBanner from "@components/MobilePageBanner.astro"

import Counter from "@islands/Counter"
---

<Layout
	title="Projekt Renkidzieło: Artystyczne i oryginalne rękodzieła"
	description="Renkidzieło to artystyczne i własnoręcznie tworzone rękodzieła. Między innymi oryginalne lampy i barwne obrazy idealne do udekorowania wnętrza; ale również i użyteczne wytwory krawieckie. Takie jak nerki, saszetki na pas i torby."
>
	<MobilePageBanner title="Renkidzieło" subtitle="Projekt ekologiczny" />
	<main class="pt-48">
		<h1 class="text-primary md:text-black">Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			Check out the <code>src/pages</code> directory to get started.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Chat"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
		<br />
		<p>Solid Counter Island</p>
		<Counter client:load />
		<script src="../scripts/helloClient">

		</script>
	</main>
</Layout>
